*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic-Sans', cursive;
    /*border: 1px solid black;*/ 
}

/*----ENCABEZADO----*/

img{
    height: 150px;
    border: 2px solid black;
}
h1{
    font-size: 58px;
    font-style: italic;
    display: inline-block;
    padding-bottom: 25px;
}
h2{
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}
nav{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 85px;
    left: 49%;
}
nav a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: antiquewhite;
    background-color: royalblue;
    box-shadow: 10px 10px 0px -4px rgba(0,0,0,0.69);
    padding: 10px;
    margin-left: 12px;
    border: 2px solid black;
}
a:hover{
    background-color: forestgreen;
}
a:active{
    background-color:lawngreen;
}
nav a.active{
    background-color:forestgreen;
}
.portada{
    background-image: url("../asset/design1_image1.jpg");
    background-position: 35% 20%;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.container-logo{
    display: inline-block;
    position: relative;
}
.logo{
    position: absolute;
    left: 15px;
    top: 40px;
}

/*----HOME & ABOUT----*/
.main-home{
    height: 90vh;
}
.conteiner-info{
    display: inline-block;
    position: relative;
}
section{
    width: 80%;
    position: absolute;
    left: 250px;
    top:635px;
}
section p{
    margin-left: 20px;
    margin-bottom: 10px;
}
h4{
    font-weight: bold;
    font-style: italic;
}

/*----CONTACT----*/
footer{
    height: 40vh;
    padding-top: 5px;
    position: absolute;
    left: 250px;
    top:635px;
}
footer>p{
    margin-bottom: 20px;
}

/*----INFORMATION----*/
.title-information{
    border: none;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 35px;
}
h3{
    font-style: italic;
}
.table-date{
    width: 100%;
    margin-bottom: 40px;
}
caption{
    font-style: italic;
    text-decoration: underline;
    text-align: left;
    margin-bottom: 20px;
}
th{
    text-align: left;
}
.month{
    text-align: center;
}
.date-game{
    text-align: center;
}
.table-date td{
    padding: 10px;
}
.table-date tr{
    margin-bottom: 12px;
}
tbody{
    font-weight:lighter;
    font-size: small;
}
.table-information{
    width: 100%;
    margin-bottom: 40px;
}
.table-info tr{
    display: flex;
}
.additional-info{
    margin-bottom: 25px;
}
.additional-contact{
    width: 100%;
    margin-bottom: 25px;
}
.mail-col{
    text-align: right;
}
.titlelocations{
    font-style: normal;
    text-align: center;
    margin: 60px;
}
h5{
    text-align: center;
    font-weight: lighter;
    text-decoration: underline;
    padding: 15px;
    margin-bottom: 10px;
}
.maplocation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}
.maplocation div{
    margin: 15px;
    border: 2px solid gray;
    background-color: antiquewhite;
}
.maplocation>div:hover{
    box-shadow:8px 8px 8px 1px rgba(0,0,0,0.5); ;
}
/*----RULES----*/
.header-rules{
    text-align: center;
    margin: 10px 15px;
}
.header-rules h3{
    font-style:normal;
}
.body-rules{
    margin: 10px 15px;
}
.body-rules p{
    margin: 0px;
    text-indent: 40px;
}
.body-rules h3{
    margin-top: 45px;
    margin-bottom: 10px;
}
.regulations>li{
    margin: 20px 15px 0px 25px;
}
.groups li{
    margin-left: 25px;
    list-style: lower-alpha;
}
.body-rules ul{
    margin-left: 70px;
    list-style: circle;
}
/*----FORM----*/
.main-form{
    height: 330vh;
}
.main-form h2{
    margin-bottom: 10px;
}
form{
    padding: 30px 50px;
    display: flex;
    flex-wrap:wrap;  
}
label{
    padding: 10px 10px 10px 0px;
    margin-left: 0px;   
}
.rowform{
    margin: 5px;
    display: flex;
}
.rowform span{
    padding-top: 10px;
}
fieldset{
    margin: 20px 0;
    border: none;
    width: 65%;
}
.titlelegend{
    font-weight: bold;
}
.row-container{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.row-container label{
    width: 50%;
}
legend{
    font-weight: bolder;
    margin-bottom: 20px;
}
input{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
}
.permission{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}
.permission p{
    margin-left: 0;
    padding-right: 55px;
}
.submitform{
    width:100%; 
    margin-top: 50px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
}
.submitform:hover{
    cursor: pointer;
    border-radius: 5%;
    box-shadow: inset 8px 8px 8px 1px rgba(0,0,0,0.5);
    background-color: rgb(248, 247, 222);
}
